* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --primary-color: #ffb900;
  --heading-font: "Sen", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

/* ============ Common ============= */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading {
  color: #171100;
  font-family: Sen, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26; /* 126.316% */
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  border-radius: 999px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ============ Header ============= */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  margin-left: auto;
}

.header .nav ul {
  display: flex;
}

.header .nav a {
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.header .nav a:hover,
.header .nav li.active a {
  position: relative;
  color: #171100;
  text-shadow: 1px 1px 0 currentColor;
}

.nav li.active a::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 8px;
  bottom: 8px;
  left: 21px;
  background: #171100;
}

.header .action {
  margin-left: 70px;
}

.header .btn {
  min-width: 144px;
  background: #171100;
  font-size: 1.6rem;
}

/* Hero */
.hero {
  background: #fffcf4;
  padding: 56px 0 65px;
}

.hero .body {
  display: flex;
  justify-content: space-between;
}

.hero .image-block {
  position: relative;
}

.hero .image-block .image {
  width: 470px;
  height: 685px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 20px;
}

.image-block .courses-info {
  position: absolute;
  bottom: 48px;
  left: 300px;
  width: 270px;
  height: 244px;
  flex-shrink: 0;
  padding: 24px 36px 0 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.courses-info .row {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.courses-info .row:first-child {
  margin-top: 0;
}

.courses-info .info-detail {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
}

.courses-info .info-detail p {
  color: #5f5b53;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

.courses-info .info-detail .label {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.hero .text-block {
  width: 470px;
  margin-top: auto;
  margin-bottom: auto;
}

.hero .text-block .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero .text-block .show-up {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.text-block .video a {
  display: flex;
  align-items: center;
  margin-left: 28px;
}

.text-block .video img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transform: translateY(5px);
}

.text-block .video span {
  margin-left: 5px;
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.text-block .statistic {
  margin-top: 48px;
}

.text-block .statistic .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.text-block .statistic .row {
  display: flex;
  margin-top: 8px;
  gap: 28px;
}

.text-block .statistic .number {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
}

.text-block .statistic .letter {
  margin-left: 12px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

/* Popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-info .desc {
  --line-clamp: 2;
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background: transparent;
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
}

.popular-top .controls img {
  width: 20px;
  height: 20px;
}

.popular .courses-list {
  display: flex;
  margin-top: 55px;
}

.popular .course-item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .courses-list .body {
  padding: 16px 22px 22px;
}

.courses-list .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .courses-list .thumb {
  width: 370px;
  height: 278px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
}

.courses-list .heading.lv2 {
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.courses-list .head .value {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

.courses-list .desc {
  --line-clamp: 2;
  width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.courses-list .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.courses-list .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.courses-list .foot .btn {
  background: #171100;
  color: #fff;
}

.courses-list .foot .btn:hover {
  background: var(--primary-color);
}

/* Feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  flex-shrink: 0;
  max-width: 100%;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--heading-font);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .info .dots {
  margin-top: 28px;
}

.feedback-item .info .dot {
  display: inline-block;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .info .dot.active {
  background: #ffb900;
  cursor: default;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item .content blockquote {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54; /* 153.846% */
}

/* Features */
.features {
  margin-top: 135px;
  padding: 65px 0;
  background: #fff;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .image-block {
  display: flex;
  gap: 0 30px;
}

.features .image-block img {
  width: 270px;
  height: 405px;
  flex-shrink: 0;
  border-radius: 16px;
  object-fit: cover;
}

.features .image-01 {
  margin-top: 34px;
}

.features .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 41%;
}

.features .content .desc {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin-top: 16px;
}

.features .content p {
  color: #5f5b53;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.features .content .btn {
  margin-top: 32px;
  min-width: 137px;
}

.feature-2nd {
  margin-top: 70px;
}

.feature-2nd .body {
  flex-direction: row-reverse;
}

.feature-2nd .image-block .image-03 {
  width: 470px;
  height: 440px;
}

.feature-2nd .content {
  width: 49%;
}
